@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ClientGrid</h1>
    <p class="lead">A full functional client side grid.</p>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Getting started</h2>
        <p>
            This table is based on Datatables.Net and have all the main functionalities in client side.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("List")>Go to Sample page &raquo;"</a></p>
    </div>
</div>

