@model IEnumerable<Test.Models.Customer>

@{
    ViewBag.Title = "View";
}

<h2>List of Customers</h2>
@using (Html.BeginForm("Save", "Home", FormMethod.Post, new { id = "form1" }))
{
    <div id="tblList">
        @Html.Partial("_Table", Model)
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel" id="panel1">
                <div class="panel-heading">Operations</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">Add</button>
                    <input type="submit"  class="btn btn-default" value="save" @*onclick="onSaveClicked(); return false;"*@ />
                    <input type="button" class="btn btn-default" value="Delete" onclick="onDeleteClicked(); return false;" />
                </div>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3>Add new customer</h3>
                    </div>
                    <div class="panel-body">
                        @*<div class="modal-header">
                        </div>*@

                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="insertdt">InsertDateTime:</label>
                                    <input type="date" class="form-control" id="insertdt" placeholder="" name="InsertDateTime">
                                </div>
                                <div class="form-group">
                                    <label for="branchid">BranchId:</label>
                                    <input type="number" class="form-control" id="branchid" placeholder="" name="branchid">
                                </div>
                                <div class="form-group">
                                    <label for="fname">FirstName:</label>
                                    <input class="form-control" id="fname" placeholder="" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="lName">FirstName:</label>
                                    <input class="form-control" id="lName" placeholder="" name="lName">
                                </div>
                                <div class="form-group">
                                    <label for="passportNo">Passport Number:</label>
                                    <input class="form-control" id="passportNo" placeholder="" name="passportNo">
                                </div>
                                <div class="form-group">
                                    <label for="passportExpDate">Passport Exp Date:</label>
                                    <input type="date" class="form-control" id="passportExpDate" placeholder="" name="passportExpDate">
                                </div>
                                <div class="form-group">
                                    <label for="activeCheckBox">Active:</label>
                                    <input type="checkbox" class="form-control" id="activeCheckBox" placeholder="" name="activeCheckBox">
                                </div>
                            </form>
                            <hr />
                            <div class="text-center">
                                <button id="okBtn" type="button" class="btn btn-default " data-dismiss="modal" onclick="onAddClicked(); return false;">Ok</button>
                                <button id="cancelBtn" type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}
@section scripts
{
    <script>
        //var objCal1 = new AMIB.persianCalendar('pcal1');

        $(document).ready(function () {
            t = $('#table1').DataTable();

            $('#table1 tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    t.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            } );


            $('#addModal').on('shown.bs.modal',
                function() {
                    $("#addModal input").val("");
                    $('#activeCheckBox').prop('checked', false); 
                });

        });

        $('#form1').on('submit', function(e) {
            debugger;

            e.preventDefault();

            //t.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
            //    d0 = this.data();
            //} );

            var allRows = t.rows().data();
            var model = "[";

            jQuery.each(allRows, function( i, row ) {

                if (model != "[")
                    model = model + ",";

                model = model +
                    '{"InsertDateTime" : "' + row[0] +'",' +
                    '"BranchId" : ' + row[1] +',' +
                    '"FirstName" : "' + row[2] +'",' +
                    '"LastName" : "' + row[3] +'",' +
                    '"PassportNo" : "' + row[4] +'",' +
                    '"PassportExpDate" : "' + row[5] +'",' +
                    '"PayRefNo" : "' + row[6] +'",' +
                    '"VisaExpDate" : "' + row[7] +'",' +
                    '"IsDeleted" : "false"}';
            });

            model += "]";

            $.ajax({
                url: '@Url.Action("Save","Home")',
                type: "POST",
                //data: JSON.stringify(model),
                data: model,
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.IsSuccess == true) {
                        alert('Row added successfuly.');
                        $("#table1").html(data.Data);
                    }
                },
                error: function (data) {
                    debugger;
                    alert("an error occured! " + data.Message);
                }
            });

        });

        function onDeleteClicked() {
            t.row('.selected').remove().draw( false );
        }

        function onAddClicked() {
            debugger;
            
            t = $('#table1').DataTable();

            
            t.row.add([
                $("#insertdt").val(),
                $("#branchid").val(),
                $("#fname").val(),
                $("#lName").val(),
                $("#passportNo").val(),
                $("#passportExpDate").val(),
                //$("#activeCheckBox")[0].checked
                ]).draw(false);
        }
        
    </script>
}

